---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "My Favorite Work" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

<!--Changed default "list" to "grid"-->
<!--{% assign entries_layout = page.entries_layout | default: 'list' %}-->
{% assign entries_layout = page.entries_layout | default: 'grid' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% if post.highlight_home and post.categories contains "work" %}
    {% include archive-single.html type=entries_layout %}
    {% endif %}
  {% endfor %}
</div>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "My Favorite Articles" }}</h3>
  {% for post in posts %}
    {% if post.highlight_home and post.categories contains "article" %}
    {% include archive-single.html type=entries_layout %}
    {% endif %}
  {% endfor %}
{% include paginator.html %}